.middle-section{
    .top-content{
        padding: 10px;
        font-size: 2rem;
    }
    h1{
        color: white;
        font-family:'PT Serif', serif;
        padding: 10px;
    }
    p{
        color: white;
        font-family: 'PT Serif', serif;
    }
    img{
        max-width: 100%;
        margin: 0;
        border-radius: 6px;
        height: auto;
        padding: 100px;
    }  
}   

body{
    background-color: rgb(73, 73, 73);
}

.section{
    padding:  0 20px 20px 20px;
    color: white;
    h2{
        color: white;
        font-family:'PT Serif', serif;
        padding: 10px;
    }
    p{
        color: white;
        font-family: 'PT Serif', serif;
    }
}
        




