// Home Content

.home {

    .intro {
  
      h2 {
        padding: 15px;
      }//This closes intro h2 tag
  
      p {
        padding:0 15px;
      }//This closes padding p tag
    
    }//This closes .Intro
    .header-img{
        .column();
        .width();
        align-content: center;
        // border-radius: 30px;
        // border: 1px solid black;
      }//This closes .header-img
    .space-images {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @media @phone{
        width: 100%; 
        .sky, .launch{
          display: none;
        }//This closes .sky, .launch
      }//This closes .space-images media query
      img {
        width: 28%;
        margin: 20px 2.5%;
        border-radius: 20px;
        height: 100%;
        @media @phone{
          width: 100%; 
          margin: 15px;
          }//This closes img media query
      }//This closes .space-images img tag
    }//This closes .space-images
  
      
  
    .visit-planets {
      padding: 15px;
  
      h3 {
        margin-top: 11px;
      }//This closes .visit-planets h3 tag
  
      p {
        margin-top: 13px;
      }//This closes .visit-planets p tag
    }//This closes .visit-planets
  
    .walk {
      margin-top: 60px;
      border-top: 1px solid @main-border-color;
      padding: 50px 60px;
      display: flex;
      justify-content: center;
      @media @phone{
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
      }//This closes the .walk media query
  
      .walk-text {
        width: 50%;
        @media @phone{
          width: 100%;
        }//This closes the .walk-text media query
  
        h3 {
          margin-bottom: 10px;
        }//This closes .walk-text h3 tag
  
        p {
          margin-bottom: 26px;
        }//This closes .walk-text p tag
  
        .btn {
          .custom-btn(@bgcolor: black, @width:100px, @font-color: white);
          @media @phone{
            .custom-btn(@bgcolor:black , @width:100%, @font-color: white);
            height: 65px;
          }//This closes the .btn media query
        }//This closes .btn
        .btn:hover{
          background-color: white;
          color:Black;
          border: 1px solid black;
        }//This closes .btn:hover
      }//This closes .walk-text
  
      .walk-img {
        width: 46%;
        margin-left: 4%;
        @media @phone{
        width: 100%; 
        margin: 0;
        padding: 10px;
        }//This closes the .walk-img media query
        
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }//This closes .wak-img img tag
      }//This closes .walk-img
    }//This closes .walk
  }// home