.middle-section{
    margin: 30px 0;
    .top-content{
        padding: 10px;
        font-size: 3.2rem;
        border: 1px;
        width: 100%;
    }
    h1{
        color: white;
        font-family: 'Indie Flower', cursive;
        padding: 10px;
    }
    p{
        color: white;
        font-family: 'PT Serif', serif;
        line-height: 2;
    }
    img{
        max-width: 100%;
        border-radius: 6px;
        padding: 80px;
        @media @phone{
            display: none;
        }
    }  
}   

body{
    background-color: #494949;
}


.bottom-section{
    padding:  0 20px 20px 20px;
    color: white;
    padding-bottom: 10px;
    line-height: 2;
    h2{
        color: white;
        font-family: 'Indie Flower', cursive;
        padding: 10px;
    }
    p{
        color: white;
        font-family: 'PT Serif', serif;
        line-height: 2;
    }
}

.Mykol{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    img{
        max-width: 20%;
    }
    h1{
        font-size: 3.2rem;
        color : white;   
    }
}





