// Navigation code here

nav{
    .column();
    .width();
    align-items: center;
    background-color: aliceblue;
    border: 1px solid black;
      a{
             color: black; 
             border:1px solid red;
         }//This closes the a tag
 }//This closes the nav tag